*{
    margin: 0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-size: 13px;
    
}

.container{
    display: flex;
    border: solid 1px black;
    max-width: 100%;
    padding: 10px;
    min-height: 95vh;
    box-sizing: border-box;
}

#form{
    width: 45%;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: blanchedalmond;
    border-radius: 15px;
    box-sizing: border-box;
}

#table{
    width: 55%;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: lightgreen;
    border-radius: 15px;
    box-sizing: border-box;
    
}

table {
    border: solid 1px black;
    background-color: white;
    width: 100%;
    
}

th{
    border: solid 1px grey;
    padding: auto
    ;
}
tr,td{
    border: solid 1px grey;
    padding: 10px;
    text-align: center;
 
    
}
#fcontent{
    padding: 10px;
    line-height: 20px;
    word-spacing: 3px;
    
}




